<!DOCTYPE html>
<html>
  <head>
    <title>MinimagickOgp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: 'minimagick ogp画像サンプル' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if ENV['PREVENT_SPAM'] %>
      <p style='background-color: #FDC'>すみません、問題のある投稿をされても面倒が見きれないので、作成や編集はできないようにしてあります。</p>
    <% end %>
    <%= yield %>
  </body>
</html>
